body {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: grey;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
     
 }
 

 .searchCityJumbo {
   display : block; 
   background: rgb(125, 249, 255, 0.5);
   text-align: center;
 }

 #header {
     text-align: center;
 }
.quizJumbo {
    display:none;
}
.carouselJumbo{
    display: none;
    justify-content: center;
    position: relative; 
}

 #carousel {
    width: 720px;
    height: 400px;
    overflow: hidden;
    display: none;
    
 }
 #carouselBtnLeft  {
     display: none;
     position: absolute;
     left: 16%;
     top: 50%;
     background: rgb(255, 255, 255, 0);
 }

 #carouselBtnRight {
     display: none;
     position: absolute;
     right: 16%;
     top: 50%;
     background: rgb(255, 255, 255, 0);
 }

 #carousel .slides {
     display: block;
     width: 10080px;
     height: 400px;
     margin: 0;
     padding: 0;
     
 }
 .headerSlide { 
    list-style-type: none; 
 }

 #carousel .slide  {
     float:left;
     list-style-type: none;
     width: 720px;
     height: 400px;
     color: white;
     background-position: center; 
     background-repeat: no-repeat; 
     background-size: cover;
     animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
 }
 

 .weatherIcon {
     max-height: 50px;
 }

 .checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}