body {
    display: flex;
     align-items: center;
     height: 100vh;
     background: url(images/background.jpg);
     background-position: center; 
     background-repeat: no-repeat;
     background-size:stretch;
     
 }
 


 .searchCityJumbo {
   display : block; 
   background: rgb(125, 249, 255); /* for ie8 and below */
   text-align: center;
 }
 
 #header {
     text-align: center;
 }

.carouselJumbo{
    display: none;
    background: rgb(125, 249, 255); /* for ie8 and below */ 
    justify-content: center;
}

 #carousel {
    width: 720px;
    height: 400px;
    overflow: hidden;
    display: none;
 }
 #carouselBtnLeft  {
     display: none;
 }

 #carouselBtnRight {
     display: none;
 }
 
 #carousel .slides {
     display: block;
     width: 10080px;
     height: 400px;
     margin: 0;
     padding: 0;
 }
 .headerSlide { 
    list-style-type: none;
    
 }

 #carousel .slide  {
     float:left;
     list-style-type: none;
     width: 720px;
     height: 400px;
     color: white;
     background-position: center; 
     background-repeat: no-repeat; 
     background-size: cover;
 }

 .checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}